<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/information.css">
    <title>find</title>
</head>
<body>
    <header class="encabezado">
        <div class="encabezado__logo">
            <img class="imagen__logo" src="./img/pngkey.com.png"
                alt="Clip Art Of Open Book In Purple - Logo De Libros Abiertos Png@pngkey.com">
            <h1 class="logo__titulo">Metropolitan Museum</h1>
        </div>
        <nav class="encabezado__contenedor-nav">
            <ol class="encabezado__contenedor-ol">
                <il class="encabezado__link"><a class="contenedor__link-a" href="/">
                        <div class="contenedor__link">Home</div>
                    </a></il>
                <il class="encabezado__link"><a class="contenedor__link-a" href="/find">
                        <div class="contenedor__link">Find</div>
                    </a></il>
                <il class="encabezado__link"><a class="contenedor__link-a" href="/about">
                        <div class="contenedor__link">About</div>
                    </a></il>
            </ol>
        </nav>
    </header>
    <main>
        <form action="/search-museum">
            <input type="search" name="search" placeholder="search" id="">
            <input type="submit" value="submit">
        </form>
        <div class="contenedor__imagenes">
            <% await for(let item in items) {%>
                <div class="contenedor__informacion">
                    <div class="contenedor__titulo">
                        <h1 class="informacion__titulo">
                            <%=items[item].title%>
                        </h1>
                    </div>
                    <img class="informacion__imagen" src=<%=items[item].primaryImage%> alt=<%=items[item].title%>>
                        <ol class="contendor__descripcion">
                            <li class="informacion__descripcion">
                                <h3 class="informacion__descripcion__titulo">date of picture:</h3>
                                <p class="informacion__descripcion__detalle">
                                    <%if(items[item].artistBeginDate !='' && items[item].artistEndDate !='' ){%>
                                        <%='('+items[item].artistBeginDate +' - '+ items[item].artistEndDate+' )'%>
                                            <%}else{%>no date<%}%>
                                </p>
                            </li>
                            <li class="informacion__descripcion">
                                <h3 class="informacion__descripcion__titulo">accession Year:</h3>
                                <p class="informacion__descripcion__detalle"><%=items[item].accessionYear%></p>
                            </li>
                            <li class="informacion__descripcion">
                                <h3 class="informacion__descripcion__titulo">culture:</h3>
                                <p class="informacion__descripcion__detalle"><%=items[item].culture%></p>
                            </li>
                        </ol>
                </div>
            <%}%>
        </div>
    </main>
</body>
</html>